   <div class="worksDemo">
       <div class="cards">
            <div class="work item" style= " background-image: url(../img/music3.png);">
                <div class="cover">
                    <a href="https://freebreaker.github.io/FM-Radio/music.html">预览</a>
                </div>  
            </div>
            <h3>FM播放器</h3>
            <span>一个简约美观的FM播放器</span>
            <a href="">
               <i class="big github icon"></i>
            </a>
       </div>

       <div class="cards">
            <div class="work item" style= " background-image: url(../img/Todo.jpg);">
                <div class="cover">
                    <a href="/works/music">预览</a>
                </div>  
            </div>
            <h3>TodoList</h3>
            <span>基于React实现的简洁TodoList</span>
       </div>
              <div class="cards">
            <div class="work item" style= " background-image: url(../img/prison.jpg);">
                <div class="cover">
                    <a href="/works/music">预览</a>
                </div>  
            </div>
            <h3>绝命毒师的官网</h3>
            <span>运用requirejs、webpack、gulp分别打包</span>
       </div>
              <div class="cards">
            <div class="work item">
                <div class="cover">
                    <a href="/works/music">预览</a>
                </div>  
            </div>
            <h3>FM播放器</h3>
            <span>一个简约美观的FM播放器</span>
       </div>
              <div class="cards">
            <div class="work item">
                <div class="cover">
                    <a href="/works/music">预览</a>
                </div>  
            </div>
            <h3>FM播放器</h3>
            <span>一个简约美观的FM播放器</span>
       </div>
              <div class="cards">
            <div class="work item">
                <div class="cover">
                    <a href="/works/music">预览</a>
                </div>  
            </div>
            <h3>FM播放器</h3>
            <span>一个简约美观的FM播放器</span>
       </div>
   </div> 





