body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

input[type='submit']{
  color: white;
  background-color: #00b5ad;
  
}

a:hover {
  border-bottom: 3px solid  #00b5ad;
}

.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  float: right;
}

/* ---------- nav ---------- */

.nav {
  margin-bottom: 20px;
  color: #999;
  text-align: center;
}

.nav h1 {
  color:   #00b5ad;
  display: inline-block;
  margin: 10px 0;
}

/* ---------- nav-setting ---------- */

.nav-setting {
  position: fixed;
  width:150px;
  height: 100%;
  z-index: 999;
  background-color: #1b1c1d;
  top:0;
  left:-150px;
  padding-top: 20px;
}

.nav-setting>.open{
  position:absolute;
  width:160px;
  height: 40px;
  text-align: center;
  right:-160px;
  top:70px;
  font-size: 16px;
  border:none;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  color: white;
  background-color: #00b5ad;
  outline: none;
  font-size: 16px;
  font-family: '微软雅黑';
}


.sideBar a{
  display: block;
  width:100%;
  padding: 15px 0px 15px 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: '微软雅黑';
}



/* ---------- post-content ---------- */

.post-content h3 a {
  color:  #00b5ad !important;
  font-size: 30px;
}

/*.post-content pre{
  height: 800px;
}*/

.post-content .tag {
  font-size: 13px;
  margin-right: 5px;
  color: #999;
}

.post-content .tag.right {
  float: right;
  margin-right: 0;
}

.post-content .tag.right a {
  color: #999;
}







/*
作品页面*/
.worksDemo{
  max-width: 1200px;
  margin: 0 auto;
}

.worksDemo:after{
  content: '';
  display: block;
  clear: both;
}

.worksDemo>.cards{
  width: 300px;
  height: 450px;
  float: left;
  margin:80px 50px 80px 50px;
  border: 1px solid #bfc3cc;
  position: relative;
  border-radius: 5px;
}



.worksDemo > .cards>.work.item{
  width:298px;
  height:298px;
  background-size:cover;
  background-repeat:no-repeat;
  position: relative;
}



.worksDemo >.cards:hover{
  bottom:3px;
}

.worksDemo > .cards>.item >.cover{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0, 0.3);
  transition: all 0.8s;
  opacity: 0;
}

.worksDemo > .cards>.item >.cover a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 25px;
}

.worksDemo > .cards>.item >.cover a:hover{
  color: white;
  font-size:30px;
  transition: all 0.4s;
  border-bottom: 0px;
}
.worksDemo >.cards>.item>.cover:hover{
	opacity: 1;
  border-radius: 5px;
}

.worksDemo > .cards h3,.worksDemo > .cards span{
  margin-left: 30px;
}